<!DOCTYPE html>
<html>

<head>
  <title> Sucess </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href="/css/success.css" />
</head>

<body>

  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

    <%- include ../misc/logo.ejs %>

    <!-- tux gif -->
    <div>
      <img class="thank-you-tux" src="/assets/images/thank-you-tux.gif" alt="Tux says thank you!">
    </div>

    <!-- content -->
    <div class=content>
      <div class="wrapper-1">
        <div class="footer-like"></div>
        <div class="wrapper-2">
          <p> The results will be announced soon, </p>
          <p> Stay turned! </p>
          <p> <strong> <a href="/"> Go back to the home page </a> </strong> </p>
        </div>
        <div class="footer-like"></div>
      </div>


    </div>

</body>

</html>