<!DOCTYPE html>
<html>
  <head>
    <title> Error </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Error page</h1>
    <div>
        <p>Message goes here</p>
        <h2><%= message %></h2>
        <h2><%= status %></h2>
    </div>
  </body>
</html>
