<!DOCTYPE html>
<html>

<head>
  <title> Error </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel='stylesheet' href="/stylesheets/error.css" />
</head>

<body>
  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white"> 

    <!-- logo -->
    <div>
      <img class="w3-display-topleft w3-image w3-padding-large w3-margin logo" src="/images/logo.png" alt="Logo">
    </div>

    <!-- error message -->
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top"><%- error.message %></h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center"><%= error.stack %></p>
    </div>

    <!-- penguin gif -->
    <div>
      <img class="penguin" src="/images/sorry_penguin.gif" alt="sorry">
    </div>

  </div>

  <script src="/javascripts/common.js"></script>
</body>

</html>