<!DOCTYPE html>
<html>

<head>
  <title> Home </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel='stylesheet' href="../public/stylesheets/index.css" />
</head>

<body>

  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white"> 

    <!-- logo -->
    <div>
      <img class="w3-display-topleft w3-image w3-padding-large w3-margin logo" src="../public/images/logo.png" alt="Logo">
    </div>

    <!-- message -->
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top"> Please check you email inbox!</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">You need an access link to be able to vote.</p>
    </div>

    <!-- open ballots -->
    <div class="w3-display-bottommiddle w3-padding-large">
      <h1>Currently open ballots</h1>
      
      <ul class="w3-ul w3-card-4">
        <% if (openBallots.length === 0) { %> 
          <li class="w3-bar w3-white w3-margin">
            <div class="w3-bar-item">
              <h4 class="w3-large"> Nothing for now </h4>
            </div>
          </li>
        <% } %> 
        <% for (const item of openBallots) { %>
          <li class="w3-bar w3-white w3-margin">
            <div class="w3-bar-item">
              <h4 class="w3-large">
                <a href="/results/<%= item.ballotName %>"> <%= item.ballotName %> </a>
              </h4>
              <p>Start: <%= item.startDate %> </p>
              <p>End: <%= item.endDate %> </p>
            </div>
          </li>
        <% } %>
      </ul>
    </div>

  </div>

</body>

</html>