<!DOCTYPE html>
<html>
  <head>
    <title> Home </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home page</h1>
    <p>Message goes here</p>
  </body>
</html>
