<!DOCTYPE html>
<html>

<head>
    <title> Voting result </title>
    <link rel='stylesheet' href='../public/stylesheets/result.css' />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <h1 style="float: center;"><b>Final results!</b></h1>
    <img src="https://media.tenor.com/images/8788623357d447d55b9a20f69b45f44b/tenor.gif" alt="happy penguin"> <br>

    <br>
    <div class="container">
        <div class="main">

            <% for (const role of roles) { %>
            <div>
                <h4> <%= role %> </h4>
            <br>
                <div>
                    <%for (const candidate of candidatesPerRolePerVote[role]) { %>
                    <p class="font-weight-bold"><%= candidate.nom %> <%=candidate.vote %></p>
                    <% } %>
                </div>
                <br><br><br>

                <% } %>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>