<!DOCTYPE html>
<html>

<head>
  <title> Success </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/success.css">
</head>

<body>
  <div class=content>
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1>Thank you !</h1>
        <p>Thanks for voting </p>
        <p> The results will be announced soon </p>
        <p>stay turned ! </p>
      </div>
      <div class="footer-like">

      </div>
    </div>

    <!-- start here -->

</body>

</html>