<!DOCTYPE html>
<html>

<head>
  <title> Vote </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../public/fonts/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../public/fonts/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../public/fonts/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../public/fonts/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../public/fonts/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../public/fonts/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/util.css">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/vote.css">
</head>

<body>
  <div class="container-contact100">
    <div class="wrap-contact100">
      <form class="contact100-form validate-form" method="POST">
        <span class="contact100-form-title"> Vote Here! </span>

        <% for (const role of roles) { %>
        <div class="wrap-input100 input100-select">
          <span class="input-group"><b><%= role %></b></span>
          <div>
            <select class="custom-select" name="<%= role %>">
              <option value=null selected>please select a name</option>
              <% for (const name of candidatesPerRole[role]) { %>
              <option value="<%= name %>"> <%= name %> </option>
              <% } %>
            </select>
          </div>
          <span class="focus-input100"></span>
        </div>
        <% } %>

        <div class="container-contact100-form-btn">
          <div class="wrap-contact100-form-btn">
            <div class="contact100-form-bgbtn"></div>
            <button class="contact100-form-btn">
              <span> Submit <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i></span>
            </button>
          </div>
        </div>
      </form>
      <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center;">Are you sure?</h4>
              <button style="float: left;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
              <h5>You are about to submit your answers </h5>
              <p>Once you confirm, you can't go back and change them &hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">stay on page</button>
              <button type="button" class="btn btn-primary">confirm</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </div>

  </form>
  </div>
  </div>
  </div>

  <!--===============================================================================================-->
  <script src="../public/fonts/vendor/daterangepicker/moment.min.js"></script>
  <script src="../public/fonts/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="../public/fonts/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="../public/fonts/votejs/main.js"></script>
  <script src="../public/fonts/votejs/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script>
    $('#myForm').on('submit', function (e) {
      $('#myModal').modal('show');
      e.preventDefault();
    });
  </script>
</body>

</html>