<!DOCTYPE html>
<html>

<head>
  <title> Vote </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/vote.css">
</head>

<body>

  <div class="container-contact100">
    <div class="wrap-contact100">
      <form class="contact100-form validate-form" method="POST" action='/vote'>
        <span class="contact100-form-title"> Vote Here! </span>

        <% for (const role of roles) { %>
        <div class="wrap-input100 input100-select">
          <span class="label-input100"> <%= role %></span>
          <div>
            <select class="selection-2" name="<%= role %>">
              <option value=null selected>please select a name</option>
              <% for (const name of candidatesPerRole[role]) { %>
              <option value="<%= name %>"> <%= name %> </option>
              <% } %>
            </select>
          </div>
          <span class="focus-input100"></span>
        </div>
        <% } %>

        <div class="container-contact100-form-btn">
          <div class="wrap-contact100-form-btn">
            <div class="contact100-form-bgbtn"></div>
            <button class="contact100-form-btn">
              <span> Submit <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  </form>
  </div>
  </div>
  </div>

  <!--===============================================================================================-->
  <script src="/fonts/vendor/daterangepicker/moment.min.js"></script>
  <script src="/fonts/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="/fonts/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="/fonts/votejs/main.js"></script>

</body>

</html>