.container {
  text-align: center;

}

table th {
  width: 200%;
 
}

table td {
  text-align: left;
  margin-right: 40%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-bottom: -3%;

}

h1 {
  text-align: center;
  color: blue;
  font-family: cursive;

}