body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

.bgimg {
  background-image: url(../images/CLL.png);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 12%;
}

.light-blue {
  color: #4A7DBF; /* the logo's color */
}

.dark-blue {
  color: #264d73;
}

.pointer {
  cursor: pointer;
}