.container {
    text-align: center;
  
  }
  
  table th {
    width: 200%;
   
  }
  
  table td {
    text-align: left;
    margin-right: 40%;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    width: 10%;

  }

  h1 {
      text-align: center;
      color: red;
      text-emphasis: 
  }

  .container {
      text-align: center;
  }

  h4 {
      color: darkblue;
      
    }
