.container {
    text-align: center;
  
  }
  body,html {
    height: 100%;
  
}
  .bgimg {
    background-image: url(../images/CLL.png);
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
  table th {
    width: 200%;
   
  }
  
  table td {
    text-align: left;
    margin-right: 40%;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    width: 10%;

  }

  h1 {
      text-align: center;
      color: blue;
    
      
  }

  .container {
      text-align: center;
  }

  h4 {
      color: darkblue;
      
    }

.td {
  color: #1223a2; 
  background-color: #e6dff5; 
  font-family: Geneva;
}
